
body, html {
  padding: 0;
  margin: 0;
  height: 100%;

}

a {
  color: #1e6bb8;
  text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}


/* Typography and text fx */

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
}

h1 {
}


.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.caption-box {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}




/* Background images/colors and parallax fx */

.parallax {
  position: relative;
  /* opacity: 0.65; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section1 {
  background-image: url("img/bg_winter_001.jpg");
  min-height: 100%;
}

#section2 {
  background: #B24592; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #B24592 , #F15F79); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #B24592 , #F15F79); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */       
  min-height: 400px;
}

