* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
}

a {
  color: #1e6bb8;
  text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}


/* Typografy */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4 {
  font-family: 'Raleway', sans-serif;
}


/* Background images and parallax fx */

.px {
  position: relative;
  /* opacity: 0.65; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#section1 {
  background-image: url("img/bg_winter_001.jpg");
  min-height: 100%;

}


